.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.split-pane > .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #ecf4fa 0%, #ced4d9 100%);
    -fx-padding: 0 3 0 3;
}

.scroll-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}


/* Status bar */
#status-view {
	-fx-padding: 3;
}
#status-view .label {
	-fx-font-size: 11px;
	-fx-text-fill: #a0a0a0;
}

/* Project explorer */
#project-tree .tree-cell {
	-fx-padding: 5;
}
#project-tree .tree-cell:hover {
	-fx-background-color: #dff4ff;
}
#project-tree .tree-cell:selected {
	-fx-background-color: #0080c0;
}
#project-tree .tree-cell:empty {
	-fx-background-color: transparent;
}
#project-tree .tree-cell .tooltip {
	-fx-text-fill: black;
    -fx-background-color: #ecf5ff;
    -fx-font-size: 12px;
}