.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.split-pane > .split-pane-divider {
    -fx-background-color: linear-gradient(to right, #ecf4fa 0%, #ced4d9 100%);
    -fx-padding: 0 3 0 3;
}

.scroll-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

/* Global setting */
.tooltip {
	-fx-text-fill: black;
    -fx-background-color: #ecf5ff;
}

/* Status bar */
#status-view {
	-fx-padding: 3;
}
#status-view .label {
	-fx-font-size: 11px;
	-fx-text-fill: #a0a0a0;
}

/* Project explorer */
#project-tree .tree-cell {
	-fx-padding: 5;
}
#project-tree .tree-cell:hover {
	-fx-background-color: #dff4ff;
}
#project-tree .tree-cell:selected {
	-fx-background-color: #0080c0;
	-fx-text-fill: white;
}
#project-tree .tree-cell:empty {
	-fx-background-color: transparent;
}
#project-tree .tree-cell .tooltip {
    -fx-font-size: 12px;
}

/* Code view */
.code-area {
    -fx-highlight-fill: #dff4ff;
}
.syntax-area .scroll-bar .thumb {
    -fx-background-color: #c1c1c1;
    -fx-background-insets: 2;
    -fx-background-radius: 2em; 
}
.syntax-area .scroll-bar .thumb:hover {
    -fx-background-color: #b1b1b1;
}
.syntax-area .scroll-bar .thumb:pressed {
    -fx-background-color: #a3a3a3;
}

/* Console view */
#console-area .content {
	-fx-padding: 8px;
	-fx-background-color: white;
}
#console-area .content {
	-fx-font-family: consolas;
}
#console-area .content .error {
	-fx-fill: #ff9797;
	-fx-font-weight: bold;
}
#console-area .content .warning {
	-fx-fill: #ffc68c;
	-fx-font-weight: bold;
}
#console-area .content .info {
	-fx-fill: #82c0ff;
	-fx-font-weight: bold;
}
